.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-banner {
  display: flex;
  align-items: center;
  padding: 50px 0;

  .hero-text {
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #1e354b;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 20px;
    }

    .btn {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }

  .hero-image {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 15px;
      margin-top: 50px;
    }
  }
}

.navbar {
  background-color: #1e354b;
  height: 70px;
  display: flex;
  align-items: center;
  color: #fff;

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    height: 50px;
    padding: 0px;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .nav-link {
    font-size: 1rem;
    margin-right: 15px;
    color: #fff;

    &:hover {
      color: #8cb7e6;
    }
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  .collapse {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      color: black;
    }
  }
}
@media (max-width: 768px) {
  .nav-link {
    color: #2b1815;

    &:hover {
      color: #4d2f24;
    }
  }
}
